.header{
    background-color: rgba(1, 6, 80, 0.822);
    width: 100%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 135px;
    z-index: 0;
    
}

body{
    background-color: rgb(182, 180, 180);
    z-index: 1;
    width: 1920px;
    height: auto;
}


/* container de cada link*/
.Navbar ul {
    list-style-type: none;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    
}

/* personalizar o link em si*/
.Navbar a {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #ffffffef;
    padding: 10px 15px;
    margin-left: 45px;
    transition: all 1s ease;
    background-color: rgba(21, 23, 104, 0.849);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.596);
}

.imagem_pequena_pata{
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    position: relative; 
    z-index: 10;
  
}

.imagem_grande_pata{
    margin-top: 290px;
    margin-left: 100px;
    transform: rotate(30deg);
    opacity: 0.1;





}


.Titulo_pequeno{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-top: 40px;
    margin-left: 110px;
    position: absolute; 
    z-index: 5;
}

.Botao{
    background-color: rgba(255, 255, 255, 0.849);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.596);
    transition: background-color 0.3s ease;
    width: 190px;
    height: 60px;
    
}
.Seta{
    width: 55px;
    height: 55px;
    margin-top: 1.5px;
    margin-left: 65px;

}

.Botao_inteiro{
    margin-top: -200px;
    margin-left: 150px;
    position: absolute; 
    z-index: 10;
}

.Texto_grande{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top: 150px;
    margin-left: 100px;
    position: absolute; 
    z-index: 5;
    margin-top: 300px;
}
.Texto_complementar {
    margin-top: 200px;
    margin-left: 100px;
    top: 290px;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.Foto_Cachorro{
    width: 500px;
    height: 500px;
    margin-top: 180px;
    margin-left: 550px;
    position: absolute; 
    border-radius: 100px;
}


.popup {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

h1 {
    margin: 0;
    font-size: 24px;
}